body {
  text-align: center;
  padding: 10px;
}

.container {
  max-width: 500px;
  margin: auto;
  border: solid 1px #000;
  padding: 10px;
}

input,
button {
  margin: 10px;
  padding: 5px;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 0.8rem;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: darkred;
}
